* {
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-gray;
    font-family: Helvetica, Arial, sans-serif;
    font-size:$m-size;
    line-height:1.6;
}

h1 {
    font-size: $l-size;
}

button {
    cursor:pointer;
}

button:disabled {
    opacity:.5;
}

.is-active {
    font-weight:bold;
}