// Colors
$dark-gray: #333;
$gray: #666;
$light-gray: #999;
$light-blue:#0084BD;
$dark-blue:#364051;
$off-white:#f7f7f7;

// Spacing

$s-size: 1rem;
$m-size: 1.6rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font sizes
$font-size-large: 1.8rem;
$font-size-small: 1.4rem;