* {
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-gray;
    font-family: 'Circular Std Medium','Helvetica Neue', Arial, sans-serif;
    font-size:$m-size;
    line-height:1.6;
}

main {
    position: relative;
    top: 80px;
    padding-left: 80px;
    padding-right: 80px;
    margin:0 auto;
    width: 100%;
}

h1 {
    font-size: $l-size;
}

button, a, .button {
    cursor:pointer;
}

button:disabled {
    opacity:.5;
}

.is-active {
    font-weight:bold;
}