* {
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $dark-gray;
    font-family: 'Circular','Helvetica Neue', Arial, sans-serif;
    font-size:$m-size;
    font-weight: 300;
    line-height:1.6;
}

h1, h2, h3 {
    color:$light-black;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 32px;
}

h3 {
    font-size: 2.4rem;
    margin: 0 0 $ml-size 0;
}

h4 {
    font-size:1.7rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: $font-xs;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

select {
    background: #fff;
}

button, a, .button,
.search-icon-wrapper
 {
    cursor:pointer;
}

button:disabled {
    opacity:.5;
}

.is-active {
    font-weight:bold;
}

.loader {
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__image {
    height:6rem;
    width:6rem;
}