* {
    box-sizing:border-box;
}

html {
    font-size: 62.5%;
}

body {
    color: $light-black;
    font-family: 'Circular','Helvetica Neue', Arial, sans-serif;
    font-size:$m-size;
    font-weight: 300;
    line-height:1.6;
}

h1, h2, h3, h4, h5 {
    color:$light-black;
    font-weight: 400;
}

h1 {
    font-size: 5rem;
}

h2 {
    font-size: 3.2rem;
    line-height: 32px;
}

h3 {
    font-size: 2.4rem;
    margin: 0 0 $ml-size 0;
}

h4 {
    font-size:1.7rem;
}

h5 {
    font-size: 1.6rem;
}

h6 {
    font-size: $font-xs;
    text-transform: uppercase;
    font-weight: 500;
    margin: 0;
}

select {
    background: #fff;
}

button, a, .button,
.search-icon-wrapper,
.cursor-pointer
 {
    cursor:pointer;
}

button:disabled {
    opacity:.5;
}

.is-active {
    font-weight:bold;
}

.slick-dots li.slick-active button:before {
    color: #fff!important;
    font-size: 10px;
}

.slick-dots li button:before {
    color: #fff!important;
}