.flex-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.center {
  text-align:center;
}

.teal--blue {
  color:$teal-blue;
}

.teal--blue__background {
  background-color:$teal-blue!important;
}