.flex-container {
  display:flex;
  align-items: center;
  justify-content: space-between;
}

.flex-container--no-justify {
  @extend .flex-container;
  justify-content: initial;
}

.center {
  text-align:center;
}
.text--white {
  color:#fff!important;
}

.text--teal-blue {
  color:$teal-blue;
}

.background--teal-blue {
  background-color:$teal-blue!important;
}

.hr-with-text {
  padding: 1rem 0;
}

.inline-block {
  display: inline-block!important;
}