// Colors
$dark-gray: #333;
$light-black: rgb(72, 72, 72); //same as #484848 

$gray: #666;
$light-gray: rgb(118,118,118);

$teal-blue: rgb(0,132,137);
$red: rgb(255, 90, 95);
$maroon: #9b3143;

$green: green;

$off-white: rgb(228,228,228);


//Root S3 path
$url: 'https://s3.us-east-2.amazonaws.com/stay-with-me/';

// Spacing

$s-size: 1.1rem;
$m-size: 1.6rem;
$ml-size: 2.2rem;
$l-size: 3.2rem;
$xl-size: 4.8rem;
$desktop-breakpoint: 45rem;

// Font sizes
$font-xl: 2.4rem;
$font-l: 1.8rem;
$font-m: 1.6rem;
$font-s: 1.4rem;
$font-xs: 1.2rem;