.button {
    background:$light-blue;
    border:none;
    color:white;
    display: inline-block;
    font-weight:300;
    padding:$s-size;
    line-height:1;
    font-size:$font-size-large;
    text-decoration:none;
}

.button--secondary {
    @extend .button;
    background: $light-gray;
}

.button--inline {
    margin-left:$s-size;
}

.button--link {
    background:none;
    padding:none;
}