.button {
    background:#fff;
    border:none;
    color: $light-black;
    display: inline-block;
    font-weight:300;
    padding:$s-size;
    line-height:1;
    font-size: $font-m;
    text-decoration:none;
    border-radius: .4rem;
    cursor: pointer;
}

.button--inline {
    margin-right:$s-size;
    cursor: pointer;
}

.button--cancel {
    @extend .button;
    width: 100%;
    font-weight: 300;
    color:#666;
    margin-top: 1.6rem;
    border: 1px solid $light-gray;
}

.button--outlined {
    @extend .button;
    border: 1px solid $light-gray;
    padding: .8rem 2.4rem;
}

.button--close {
    font-size: 4rem;
    font-weight: 200;
    line-height: 0;
    color: $light-gray;
    cursor: pointer;
    display:inline-block;
    font-family: 'Circular Std Book', 'Helvetica Neue', Arial, sans-serif
}

.button--navlink {
    @extend .button;
    font-weight: 400;
    line-height: 7.6rem;
    font-size: 1.5rem;
    border-bottom: 2px solid transparent;
    padding: 0 1.65rem;
    border-radius: 0;
    font-size: $font-s;
}
  
.button--navlink:hover {
    transition: .1s ease-in-out all;
    border-bottom: 2px solid rgb(117,117,117);
}

.button--link {
    background:none;
    padding:0;
    border:none;
    color: $teal;
}

.button--teal-inline {
    @extend .button;
    background: teal;
    color: #fff;
    margin-right: $s-size;
}

.button--submit {
    @extend .button;
    width: 100%;
    background: $red;
    font-weight: 300;
    color:#fff;
    margin-top: 1.6rem;
}

.default-user-icon {
    margin: 0 1.6rem;
    border-radius: 50%;
    font-size: 2.2rem;
}

.logged-out .button--navlink {
    color:#fff!important;
    background-color:transparent;
}

.logged-out .button--navlink:hover {
    border-bottom-color: #fff;
}

.add-subtract {
    width: 32px;
    height: 32px;
    color: $teal;
    border: 1px solid $teal;
    border-radius: 50%;
    font-size: $font-m;
    position: relative;
}

.add-subtract, 
.guest-count {
    margin-left: 10px;
}

.add-subtract.add:before {
    content: '+';
    position: absolute;
    display: block;
    top: 7px;
    right: 11px;
}

.add-subtract.sub:before {
    content: '-';
    position: absolute;
    display: block;
    top: 7px;
    right: 12px;
}

.add-subtract.disabled {
    border: 1px solid rgba( $teal, .3 );
    color: rgba( $teal, .3 )
}

.submit-container {
    .button--cancel,
    .button--submit {
        width: 25%;
    }
}

// Profile page

.content-container--interior-page {
    aside {
        .button--outlined {
            width: 100%;
            margin-top: 2.4rem;
            font-size: $font-s;
            font-weight: 500
        }
    }
    .button--submit {
        width: auto;
        padding: 1.3rem 2.7rem;
        margin-top: 2.4rem;
    }
    
}

.button--toggle-panel {
    margin-right: $m-size;
    cursor: pointer;    
    color: $gray;
}

.button--toggle-panel.active {
    text-decoration:underline;
    color: $teal;
}