.content-container {
    margin: $l-size 0;
}

.flush-content-container {
    width:100%;
}

.search-listings-container {
    h3 {
        margin-bottom: 5px;
    }
    .search-index-container {
        // padding: 2.4rem;   
    }
}

main {
    position:relative;
}

main.logged-in {
    top:13rem;
}

.content-container {
    position: relative;
    padding: 4rem 8rem;
    margin:0 auto;
    width: 100%;
    min-height: 24rem;
}

main .content-container--logged-out {
    top: 0;
}

.search-container {
    width: 85%; 
    margin: 0 auto;    
}

footer {
    padding: 4rem 8rem;
    border-top: 1px solid $off-white;
    margin-top: 40px;
}

footer p, footer a {
    font-size: $font-xs;
    color: $light-gray;
}

.content-container--interior-page {
    width: 108rem;
    padding:0 2.4rem;
    justify-content: flex-start;
    align-items: baseline;
    align-items: end;
    margin: 0 auto;
    position: relative;
}

.grid--75 {
    width:75%;
    .content-container--profile {
        padding: 20px;
        border: 1px solid $off-white;
        border-top-width: 0;
        position:relative;

        .profile-thumb-wrapper {
            position: absolute;
            top: 20px;
            left: 20px;
        }
        .profile-thumb {
            min-width: 100px;
            min-height:100px;
            background-size:cover;
            border-radius: 50%;
            border: 2px solid $off-white;
        }
    }
    .listing-form {
        border-top-width: 1px;
    }
}

.grid--50 {
    width: 50%!important;
}

.grid--33 {
    width: 33%!important;
}

.grid--25 {
    width: 25% !important;
}

.grid--75__header {
    background:#edefed;
    padding: 1.2rem 2rem;
    border: 1px solid $off-white;
    line-height: 1;
}

.flush-top {
    margin-top:-3rem;
}

.content-container--interior-page aside {
    li {
        padding: .6rem 0;
        font-size: $font-m;
    }
}

.autocomplete-dropdown-container {
    position:relative;
    background:#fff;
}

.suggestion-item {
    background-color: '#ffffff'; 
}

.suggestion-item--active { 
    background-color: '#fafafa'; 
}
.suggestion-item--active,
.suggestion-item {
    padding: 13px 20px;
    cursor: pointer;
    font-size: 14px;
    .fa-map-marker-alt {
        margin-right: 15px;
    }
}

.suggestion-item:first-child,
.suggestion-item--active:first-child
 {
    padding-top:20px;
}

.suggestion-item:last-child,
.suggestion-item--active:last-child {
    padding-bottom: 30px;
}



.autocomplete-dropdown {
    background-color:#fff;
    border: 1px solid $off-white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 15px 46px -10px rgba(26, 26, 29, 0.3);
    overflow: hidden;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    position:absolute;
}

.autocomplete-dropdown.autocomplete-dropdown--splash {
    top: 40px;
    width: 340px;
    left: -20px;
    font-size: 14px;
}

.user-reviews-container {
    .profile-thumb {
        min-width: 50px;
        min-height: 50px;
    }
}

.profile-image {
    width:240px;
    padding-bottom: 240px;
    background-size:cover;
    max-width:100%;
}

.toggle-panel {
    margin-bottom: $m-size;
}

.booking-thumb-wrapper {
    .tiny {
        text-align:center;
    }
    .booking-thumb {
        min-width: 100px;
        min-height:100px;
        background-size:cover;
        border-radius: 50%;
        border: 2px solid $off-white;
    }
}

.image-header-container {
    cursor:pointer;
}