.content-container {
    margin: $l-size 0;
}

main {
    position:relative;
}

main.logged-in {
    top:11rem;
}

.content-container {
    position: relative;
    padding: 4rem 8rem;
    margin:0 auto;
    width: 100%;
    min-height: 24rem;
}

main .content-container--logged-out {
    top: 0;
}

.search-container {
    width: 85%; 
    margin: 0 auto;    
}

footer {
    padding: 4rem 8rem;
    border-top: 1px solid $off-white;
    margin-top: 40px;
}

footer p, footer a, {
    font-size: $font-xs;
    color: $light-gray;
}

.content-container--interior-page {
    width: 108rem;
    padding:0 2.4rem;
    justify-content: flex-start;
    align-items: baseline;
    margin: 0 auto;
    position: relative;
}

.grid--75 {
    width:75%;
    .form-wrapper {
        padding: 20px;
        border: 1px solid $off-white;
        border-top-width: 0;
        position:relative;
    }
    .listing-form {
        border-top-width: 1px;
    }
    .photos-container {
        flex-wrap: wrap;
    }
}

.grid--50 {
    width: 50%;
}

.grid--33 {
    width: 33%;
}

.grid--25 {
    width: 25%;
}

.grid--75__header {
    background:#edefed;
    padding: 1.2rem 2rem;
    border: 1px solid $off-white;
    line-height: 1;
}

.flush-top {
    margin-top:-3rem;
}

.content-container--interior-page aside {
    li {
        padding: .6rem 0;
        font-size: $font-m;
    }
}

.autocomplete-dropdown-container {
    position:relative;
    background:#fff;
}

.suggestion-item {
    background-color: '#ffffff'; 
}

.suggestion-item--active { 
    background-color: '#fafafa'; 
}
.suggestion-item--active,
.suggestion-item {
    padding: 10px 20px;
    cursor: pointer;
}


.autocomplete-dropdown {
    background-color:#fff;
    border: 1px solid $off-white;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 15px 46px -10px rgba(26, 26, 29, 0.3);
    overflow: hidden;
    -webkit-transition: background-color 200ms linear;
    -moz-transition: background-color 200ms linear;
    transition: background-color 200ms linear;
    position:absolute;
}

.autocomplete-dropdown.autocomplete-dropdown--splash {
    top: 40px;
    width: 340px;
    left: -20px;
    font-size: 14px;
}