.date-picker-table {
  display:flex;
  position: relative;
}

.home-splash-container .DayPicker {
  position: absolute;
  top: 63px;
  left: 0;
  padding: 24px 0;
  z-index: 10;
  box-shadow: rgba(0, 0, 0, 0.15) 0px 14px 36px 2px;
  overflow-y: auto;
  overflow-x: hidden;
  white-space: normal;
  display: inline-block;
  max-height: calc(100vh - 152px);
  border-radius: 0px 0px 5px 5px;
  // padding: 24px 20px;
  background: rgb(255, 255, 255);
}

.date-picker-table label button {
  border:none;
  font-size: $font-l;
  padding:0;
  color: $light-gray;
}

.date-picker-table-cell:first-child {
  border-right: 1px solid #ebebeb;
  padding-right: 20px;
}

.date-picker-table-cell {
  padding-left:20px;
}

.CalendarDay {
  border: 2px solid rgb(255, 255, 255);
  border-radius: 7px;
}

.CalendarDay__selected_span {
  background: $teal!important;
  color: #fff;
}

.CalendarDay__selected_span:active, 
.CalendarDay__selected_span:hover, 
.CalendarDay__default:hover,
.CalendarDay__default:active {
  border: 2px solid rgb(255, 255, 255);
}



.listing-details-container {
  .CalendarDay__blocked_calendar,
  .CalendarDay__blocked_out_of_range {
    color: rgb(216, 216, 216)!important;
    background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px)!important;
  }

  .CalendarDay__default {
    background: repeating-linear-gradient(-45deg, rgb(255, 255, 255), rgb(255, 255, 255) 3px, rgb(235, 235, 235) 3px, rgb(235, 235, 235) 4px);
    color: rgb(216, 216, 216);
  }
  .CalendarDay__default.CalendarDay__selected_span {
    color:#fff;
  }
}

.DayPickerKeyboardShortcuts_buttonReset {
  display:none;
}

.listing-details-container .DayPicker_focusRegion,
.listing-details-container .DayPicker_weekHeader {
  margin-left: -23px;
}

.listing-details-container .DayPickerNavigation_rightButton__horizontalDefault {
  right:45px;
}