// Profile form

.profile-form-row {
  display:flex;
  justify-content: flex-end;
  margin-bottom: 2.4rem;

  label {
      padding: 6px 0 6px 8px;
      font-size: $font-s;
  }
}

.profile-thumb-wrapper {
  position: absolute;
  top: 20;
  left: 20;
}
.profile-thumb {
  min-width: 100px;
  min-height:100px;
  background-size:cover;
  border-radius: 50%;
  border: 2px solid $off-white;
}