.explore-wrapper img {
  width:9.6rem;
  height:auto;
}

.explore-wrapper h4 {
  margin: 1.4rem 1.6rem;
}

.explore-container {
  border: 1px solid rgba(0,0,0,0.1);
  border-radius: 3px;
  width: 33%;
  box-shadow: rgba(0, 0, 0, 0.06) 0px 2px 4px 0px;
}

.home-splash-container {
  background: url(https://s3.us-east-2.amazonaws.com/stay-with-me/logged-out-splash.jpg);
  background-size: cover;
  min-height: 100vh;
}

.home-splash-container .content-container {
  top:18rem;
}

.home-splash-container .content-container h1 {
  margin-bottom: 3.3rem;

}

.guest-select-container p {
  flex-grow:2;
}
.featured-listings {
  .flex-container--no-justify { 
    align-items: baseline;
  }
  .featured-listing {
    margin-right:1.6rem;
    .listing-thumb {
      border-radius: 3px;
      margin-bottom: 1rem;
    } 
    .thumb-size-rating {
      margin-left: .5rem;
      .fa {
        width: 10px;
        height: 10px;
        font-size: 1rem;
        color: $teal-blue;
      } 
      span {
        line-height: .3;
        margin-left: 1px;
      }
    }
  }
}