.input-group { 
    display: flex;
    // justify-content: space-between;
    flex-direction: column;
    margin-bottom:$s-size;
    @media (min-width: $desktop-breakpoint) {
        flex-direction: row;
        margin-bottom:$l-size;
    }
}

.input-group__item {
    margin-bottom: $s-size;
    @media (min-width: $desktop-breakpoint) {
        margin: 0 $s-size 0 0;
    }
}