*:focus {
    outline:none;
}

.text-input {
    border:1px solid #cacccd;
    height: 46px;
    padding: $s-size;
    font-size: $font-size-m;
    font-weight: 600;
    border-radius: 4px;
    display:block;
    margin-bottom:$m-size;
    width: 100%;
}

input[type=text]:focus,
input[type=password]:focus,
textarea:focus {
    outline: none;
    border: 1px solid $teal-blue;
    background-color: rgb(232, 240, 254);
}

.select {
    @extend .text-input;
}

.textarea {
    @extend .text-input;
    height: 10rem;
}