.flex-container.image-header-container {
  flex-wrap: nowrap; 
  justify-content: flex-start;
  align-items: end;
}

.left-half img {
  min-width:100%;
}

.left-half,
.right-half .square-image {
  border: 1px solid $light-black;
}

.listing-details-container {
  position:relative;
  .listing-details__header {
    display: flex;
    justify-content: space-between;
    align-items: flex-start;

    .profile-thumb-wrapper {
      .profile-thumb {  
        min-width: 60px;
        min-height: 60px;
        width: 60px;
        height: 60px;
        margin: 0 auto;
        background-size:cover;
        border-radius: 50%;
      }
      p {
        text-align:center;
      }
    }  
  }
  
  h5 {
    margin-bottom: 1.6rem;
    color:$light-black;
  }
}

.fa-star,
.fa-star-o {
  color: $teal;
}

.rating-selector {
  .fa {
    margin-right: .6rem;
  }
}

.amenities {
  display:flex;
  justify-content: flex-start;
  .amenity {
    display: flex;
    justify-content: flex-start
  }
  .svg-amenity-container {
    margin-right: 7px;
    position:relative;
    top: 3px;
  }
}

.rating-container {
  .read-only-rating,
  .rating-selector {
    margin-left:2.4rem;
  }
  .profile-thumb {
    min-width: 60px;
    min-height: 60px;
    width: 60px;
    height: 60px;
    background-size: cover;
    border-radius: 50%;
  }
  .fa {
    width: 20px;
    height: 30px;
    font-size: 1.8rem;
    color: $teal;
  }

  h3 {
    margin-bottom:1rem;
  }
}

.listing-details-container {
  max-width: 595px;
  margin-top: 20px;
}

.floating-booking-container {
  padding: 2.4rem;
  border: 1px solid $off-white;
  margin-top: 20px;
  margin-left: 70px;
  background: #fff;
  min-width: 370px;
  max-width: 370px;
  .DateRangePickerInput,
  .DateRangePicker {  
    width:100%;
  }
  .DateRangePickerInput__withBorder {
    border-color: $off-white;
  }
  .guest-input-wrapper {
    margin-left:0;
    display:block;
    width: 100%;
    padding-left: 0;
    border:0;
    margin-top:15px;
    input {
      border-radius:2px;
      border-color: rgb(235, 235, 235);
      font-size: 1.7rem;
      color: $light-black;
    }
  }
  .guest-select-container {
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
    top: 66px;
    padding-bottom: 40px;
    .apply-search {
      font-size: $font-s;
      color: $teal;
      cursor: pointer;
      position: absolute;
      bottom: -30px;
      right: 5px;
    }
  }
  .button--submit {
    width: 100%;
    margin-top: .8rem;
  }
  .tiny.bold {
    font-weight: 400;
  }
}


// Photo grid
.right-half {
  display: flex;
  flex-wrap: wrap;
}

.photo-overlay {
  position: absolute;
  top: 0;
  left: 0;
  background: rgba(0,0,0,.5);
  transition: .2s ease-in-out all;
  width: 100%;
  height:100%;
  cursor:pointer;
}

.photo-overlay:hover {
  background: rgba(0,0,0,0);
}

.hero-image,
.square-image {
  background-repeat: no-repeat;
  background-size: cover;
  min-height: 440px;
  background-position: center;
  position:relative;
  transition: transform 0.5s, opacity 0.5s;
}

.square-image-wrapper,
.hero-image-wrapper {
  overflow:hidden;
}

.square-image:hover,
.hero-image:hover {
  transform: scale(1.05);
  opacity: 1 !important;
}

.hero-image--dummy {
  @extend .hero-image;
  background-image: url('house-placeimg.jpg');
}

.square-image {
  min-height: 220px;
}

#map {
  width: 100%;
  height: 350px;
}

// User listings list

.user-listings li {
  padding: 2.4rem 0;
  border-bottom: 1px solid $off-white;
}

.user-listings li:first-child {
  padding-top: 0;
}

.listing-details {
  padding: 2rem 2rem 1.6rem 2rem;
  h3 {
    margin-bottom: 1rem;
  }
  h6 {
    cursor:pointer;
  }
}

.listing-thumb {
  min-width: 300px;
  height:225px;
  background-size: cover;
  background-position: center;
}

.square-image img {
  max-height:250px;
}

.reviews-container {
  margin: 2.4rem 0;
}