.loader {
    position: fixed;
    top:0;
    left:0;
    height:100vh;
    width: 100vw;
    display: flex;
    align-items: center;
    justify-content: center;
}

.loader__image {
    height:6rem;
    width:6rem;
}