.ReactModalPortal>div {
    opacity: 0;
}

.Overlay {
    align-items: center;
    display: flex;
    justify-content: center;
    transition: opacity 200ms ease-in-out;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background-color: rgba(0,0,0,.7);
}

.ReactModalPortal .ReactModal__Overlay--after-open {
    opacity: 1;
}

.ReactModalPortal .ReactModal__Overlay--before-close {
    opacity: 0;
}

.modal {
    background: #fff;
    color: $dark-gray;
    width: 100%;
    outline: none;
    padding: $l-size;
}

.modal__title {
    margin: 0 0 $m-size 0
}

.modal__body {
    font-size: $m-size;
    font-weight: 300;
    word-break: break-all;
    margin: 0 0 $l-size 0;
}

@media(min-width: 992px) {
    .modal {
        min-width: 57rem;
        max-width: 57rem;
    }
}