.fixed-top-nav {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height:80px;
  z-index: 1000;
  border-bottom: 1px solid $off-white;
  background: #fff;
}

.top-nav {
  @extend .fixed-top-nav;
  position:relative;
  display:flex;
  background:transparent;
  border-bottom:none;
}

.top-nav.logged-out {
  position:absolute;
}

.search-wrapper {
  width:45%;
  justify-content: flex-start;
}

.search-input-wrapper {
  position:relative;
  width:100%;
}

.search-wrapper .search-input {
  border-radius: 4px;
  color: $light-black;
  border: 1px solid #EBEBEB;
  box-shadow: 0 2px 4px rgba(0,0,0,0.1);
  height: 48px;
  transition: .4s ease-in-out all;
  width: 80%;
  padding-left: 45px;
  font-size: 17px;
  font-weight: 500;
}

.search-wrapper .search-icon {
  position: absolute;
  top: 15px;
  left: 17px;
  padding-right: 10px;
  width: 39px;
  z-index: 1;
}

.search-wrapper .search-input:focus {
  width: 100%;
}

.logo-container {
  position: relative;
  text-align: center;
  text-decoration: none;
  -webkit-transition: 0.25s color;
  -moz-transition: 0.25s color;
  transition: 0.25s color;
  padding-left: 24px;
  padding-right: 24px;
  vertical-align: middle;
  white-space: nowrap;
}

.svg-logo-container {
  display: inline-block;
}

.svg-logo-wrapper {
  color: #FF5A5F;
  display: inline-block;
  vertical-align: middle;
  font-size: 34px;
  -webkit-transition: 0.25s color;
  -moz-transition: 0.25s color;
  transition: 0.25s color;
}

.profile-wrapper {
  position:relative;
  margin-right:8px;
  .button--navlink__user-thumb {
    height:8.6rem;
    .profile-thumb {
      min-width: 28px;
      min-height: 28px;
      background-size: cover;
      border-radius: 50%;
      position: relative;
      border: 2px solid #e4e4e4;
      margin: 0 8px 0 0;
      cursor:pointer;
      top: 30px;
    }
    
    // .profile-thumb:hover {
    //   transition: .1s ease-in-out all;
    //   border-bottom: 2px solid #757575;
    // }
  }
  
}

.drop-down-wrapper {
  list-style:none;
  margin: 0;
  padding: 0;
  position: absolute;
  right: -4px;
  top: 87px;
  background:#fff;
  z-index: 10;
  width: 280px;
  padding:0 1.6rem;
  box-shadow: rgba(0, 0, 0, 0.1) 0px 0px 5px; 
}

.drop-down-wrapper li {
  padding: 1.6rem 0;
  border-bottom: 1px solid rgb(228,228,228);
  font-size: $font-s;
  color: $light-gray;
  cursor:pointer;
}

.drop-down-wrapper li:hover {
  border-bottom: 1px solid #333;
}

.filter-bar {
  position: relative;
  .apply-search {
    font-size: $font-s;
    color: $teal;
    cursor: pointer;
    position: absolute;
    bottom: -30px;
    right: 5px;
  }
  .range-controller-wrapper {
    position: absolute;
    z-index: 5;
    top: 53px;
    border-radius: 4px;
    box-shadow: 4px 4px 10px rgba(0, 0, 0, 0.09);
    background: #fff;
    .apply-search { 
      bottom:-5px;
      right: 30px;
    }
    padding-bottom: 20px;
  }
  .guest-select-container {
    width: 250px;
    top: 53px;
    left:120px;
    padding-bottom: 40px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
  }
  .filter-active {
    background-color: $teal;
    color: #fff;
  }
  .price-slider {
    width: 300px;
    padding: 20px;
    height: 135px;
    position: absolute;
    z-index: 2;
    top: 50px;
    left: 290px;
    background: #fff;
    border-radius: 0 0 5px 5px;
    box-shadow: rgba(0, 0, 0, 0.15) 0px 2px 6px, rgba(0, 0, 0, 0.07) 0px 0px 0px 1px !important;
    .apply-search {
      bottom:10px;
      right: 15px;
    }
  }
}


/**
* Rangeslider
*/
.rangeslider {
  margin: 20px 0 10px;
  position: relative;
  background: #e6e6e6;
  -ms-touch-action: none;
  touch-action: none;
}
.rangeslider,
.rangeslider .rangeslider__fill {
  display: block;
  box-shadow: inset 0 1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle {
  background: #fff;
  border: 1px solid #ccc;
  cursor: pointer;
  display: inline-block;
  position: absolute;
  box-shadow: 0 1px 3px rgba(0, 0, 0, 0.4), 0 -1px 3px rgba(0, 0, 0, 0.4);
}
.rangeslider .rangeslider__handle .rangeslider__active {
  opacity: 1;
}

.rangeslider .rangeslider__handle-label {
  top: -25px;
  right: 4px;
  font-family: Cereal;
  font-weight: 200;
  font-size: 14px;
  position: absolute;
}

.rangeslider .rangeslider__handle-tooltip {
  width: 40px;
  height: 25px;
  text-align: center;
  position: absolute;
  // background-color: rgba(0, 0, 0, 0.8);
  font-weight: normal;
  font-size: 14px;
  transition: all 100ms ease-in;
  border-radius: 4px;
  display: inline-block;
  color: $light-black;
  left: 50%;
  transform: translate3d(-50%, 0, 0);
}
.rangeslider .rangeslider__handle-tooltip span {
  margin-top: 12px;
  display: inline-block;
  line-height: 100%;
}
.rangeslider .rangeslider__handle-tooltip:after {
  content: ' ';
  position: absolute;
  width: 0;
  height: 0;
}
/**
* Rangeslider - Horizontal slider
*/
.rangeslider-horizontal {
  height: 7px;
  border-radius: 10px;
}
.rangeslider-horizontal .rangeslider__fill {
  height: 100%;
  background-color: $teal;
  border-radius: 10px;
  top: 0;
}
.rangeslider-horizontal .rangeslider__handle {
  width: 15px;
  height: 15px;
  border-radius: 30px;
  top: 50%;
  transform: translate3d(-50%, -50%, 0);
}

.rangeslider-horizontal .rangeslider__handle-tooltip {
  top: -35px;
}
.rangeslider-horizontal .rangeslider__handle-tooltip:after {
  border-left: 8px solid transparent;
  border-right: 8px solid transparent;
  // border-top: 8px solid rgba(0, 0, 0, 0.8);
  left: 50%;
  bottom: -8px;
  transform: translate3d(-50%, 0, 0);
}

/**
* Rangeslider - Labels
*/
.rangeslider__labels {
  position: relative;
}
.rangeslider-vertical .rangeslider__labels {
  position: relative;
  list-style-type: none;
  margin: 0 0 0 24px;
  padding: 0;
  text-align: left;
  width: 250px;
  height: 100%;
  left: 10px;
}
.rangeslider-vertical .rangeslider__labels .rangeslider__label-item {
  position: absolute;
  transform: translate3d(0, -50%, 0);
}
.rangeslider-vertical .rangeslider__labels .rangeslider__label-item::before {
  content: '';
  width: 10px;
  height: 2px;
  background: black;
  position: absolute;
  left: -14px;
  top: 50%;
  transform: translateY(-50%);
  z-index: -1;
}
.rangeslider__labels .rangeslider__label-item {
  position: absolute;
  font-size: 14px;
  cursor: pointer;
  display: inline-block;
  top: 10px;
  transform: translate3d(-50%, 0, 0);
}
