#search-results-map {
  height: 100vh;
  width: 33%;
  position:fixed!important;
  height: -webkit-calc(100vh - 12.9rem);
  height:    -moz-calc(100vh - 12.9rem);
  height:         calc(100vh - 12.9rem);
  right: 0;
  top: 12.9rem;
}

.heart {
  font-size: 2.8rem
}

.listing-result-wrapper {
  display:flex;
  min-height: 200px;
  max-height: 200px;
  margin-bottom:2.4rem;
  .results-slider {
    width:31%;
    border-radius: 3px;
    .slick-dots {
      bottom: 5px;
    }
  }
  .listing-thumb {
    width:300px;
    max-height:200px;
    border-radius: 3px;
  }
  .listing-details {
    border-top: 1px solid $off-white;
    border-right: 1px solid $off-white;
    border-bottom: 1px solid $off-white;
    flex-grow:2;
    position:relative;
    .top--left,
    .top--right,
    .bottom--left,
    .bottom--right, {
      position: absolute
    }
    .top--left {
      top: 24px;
      left: 24px;
      .amenity-listings {
        list-style: inherit;
        .amenity-item {
          display:inline-block;
          font-size: $font-s;
          color: $light-black;
          margin-right: 3px;
        }
      }
    }
    .top--right {
      top: 24px;
      right: 24px;
    }
    .bottom--left {
      bottom: 24px;
      left: 24px;
    }
    .bottom--right {
      bottom: 24px;
      right: 24px;
      h4 {
        font-size: $font-l;
        color: $light-black;
        font-weight:400;
      }
    }
  }
}

.filter-bar {
  border-bottom: 1px solid $off-white;
  padding: .8rem 2.4rem;
  position:fixed;
  width: 100%;
  top: 8rem;
  background: #fff;
  z-index: 1;
  .button {
    font-size: $font-s;
    font-weight: 200;
  }
  .button--outlined {
    border-color: $off-white;
  }
}

.flush-content-container.search-listings-container {
    position:relative;
    top: 3rem;
    align-items: baseline;
    align-content: space-around;
    min-height: 480px;
    padding-left: 2.4rem;
    padding-right: 1rem;
    padding-bottom: 2.4rem;
    width: 66%;
    h4 {
      font-size: $font-l;
    }
}