@font-face {
  font-family: 'Circular Std Book';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Book.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Circular Std Book Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Book Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-BookItalic.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Circular Std Medium';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Medium.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Circular Std Medium Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Medium Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-MediumItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Bold';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Bold Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Bold Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-BoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Black';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Black.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular Std Black Italic';
  font-style: normal;
  font-weight: normal;
  src: local('Circular Std Black Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-BlackItalic.woff') format('woff');
  }

@import './base/settings';
@import './base/base';
@import './base/normalize';
@import './base/helper-classes';
@import './components/box-layout';
@import './components/buttons';
@import './components/content-container';
@import './components/errors';
@import './components/input-group';

@import './components/inputs';
@import './components/form';
@import './components/visibility';
@import './components/loader';
@import './components/modal';
@import './components/navbar';
@import './fonts/fa/css/svg-with-js.min';
// @import './fonts/fa/css/all';
// @import './fonts/fa/css/fontawesome.min';

