@font-face {
  font-family: 'Circular';
  font-style: initial;
  font-weight: 300;
  src: local('Circular Std Book'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Book.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 300;
  src: local('Circular Std Book Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-BookItalic.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 400;
  src: local('Circular Std Medium'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Medium.woff') format('woff');
  }
  
  @font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 400;
  src: local('Circular Std Medium Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-MediumItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 500;
  src: local('Circular Std Bold'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Bold.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 500;
  src: local('Circular Std Bold Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-BoldItalic.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular';
  font-style: normal;
  font-weight: 600;
  src: local('Circular Std Black'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-Black.woff') format('woff');
  }
  
  
  @font-face {
  font-family: 'Circular';
  font-style: italic;
  font-weight: 600;
  src: local('Circular Std Black Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-BlackItalic.woff') format('woff');
  }

  @font-face {
    font-family: 'Font';
    font-style: italic;
    font-weight: 600;
    src: local('Circular Std Black Italic'), font-url('./fonts/circular-std-book-cufonfonts-webfont/CircularStd-BlackItalic.woff') format('woff');
    }

    @font-face {
      font-family: 'Font Awesome 5 Free';
      font-style: normal;
      font-weight: 900;
      src: url("./fonts/fa/webfonts/fa-solid-900.woff");
      src: url("./fonts/fa/webfonts/fa-solid-900.eot?#iefix") format("embedded-opentype"), url("./fonts/fa/webfonts/fa-solid-900.woff2") format("woff2"), url("./fonts/fa/webfonts/fa-solid-900.woff") format("woff"), url("./fonts/fa/webfonts/fa-solid-900.ttf") format("truetype"), url("./fonts/fa/webfonts/fa-solid-900.svg#fontawesome") format("svg"); }

@import './base/normalize';
@import './base/settings';
@import './base/base';
@import './base/helper-classes';
@import './plugins/datepicker';
@import './components/box-layout';
@import './components/buttons';
@import './components/content-container';
@import './components/errors';
@import './components/input-group';
@import './components/home';
@import './components/inputs';
@import './components/form';
@import './components/visibility';
@import './components/loader';
@import './components/modal';
@import './components/navbar';
@import './components/date-picker';
@import './components/listing';
@import './components/search-results';
@import './fonts/fa/css/svg-with-js.min';
@import './fonts/fa/css/solid.css';
@import './fonts/fa/css/regular.css';

@import './fonts/fa/css/all';
@import './fonts/fa/css/fontawesome.min';

